<ul>
  <li>Puppies</li>
  <li><img src='https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2018/08/14210638/sharpei-puppies-playing-in-grass.jpg'/>
  </li>
  <% if @x == 10000 %>
    <li>
      We rendered it right
    </li>
  <% end %>
</ul>
